@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    url("../../fonts/roboto-v29-latin-regular.woff") format("woff");
}

:root {
  font-family: roboto, sans-serif;
}

* {
  transition: color 0.6s ease;
  transition: background 0.6s ease;
  transition: background-color 0.6s ease;

}

#app{
  height: 100%;
}

body {
  min-height: 100vh;
  padding: 0;
}


body {
  --body-background: #fcfffd;
  --header-background: #f5f5f5;
  --header-background-darker: #c9c9c9;
  --button-background: #e9e9e9;
  --button-foreground: #626262;
  --popup_item-background: #e2e2e2;
  --accent-gray: #c2c2c2;
  --accent-red: #ee4242;
  --accent-red-darker: #c62828;
  --accent-blue: #218ce4;
  --accent-green: #1CC296;

  background-color: var(--body-background);
}

body.dark {
  --body-background: #373737;
  --header-background: #232323;
  --header-background-darker: #303030;
  --button-background: #393939;
  --button-foreground: #fafafa;
  --popup_item-background: #484848;
  --accent-gray: #676767;
  --accent-red: #c62828;
  --accent-red-darker: #af1b1b;
  --accent-blue: #1976d2;
  --accent-green: #12be91;
}

.active svg {
  color: var(--accent-blue);
  transition: 0.4s all ease;
  transform: rotate(360deg);
}

main{
  background-color: var(--body-background);
  height: 100%;
}